<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url"><![CDATA[jdbc:mysql://localhost:3306/imc?useUnicode=true&amp;characterEncoding=utf8]]></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <mapping resource="domain.hbm.xml"/>
        <mapping class="com.imchuan.entity.sys.SysMenu"/>
        <mapping class="com.imchuan.entity.sys.SysMenuRole"/>
        <mapping class="com.imchuan.entity.sys.SysResource"/>
        <mapping class="com.imchuan.entity.sys.SysResourceRole"/>
        <mapping class="com.imchuan.entity.sys.SysRoleDto"/>
        <mapping class="com.imchuan.entity.sys.SysUser"/>
        <mapping class="com.imchuan.entity.sys.SysUserRole"/>
        <mapping class="com.imchuan.entity.cms.CmsArticle"/>
        <mapping class="com.imchuan.entity.cms.CmsCategory"/>
        <mapping class="com.imchuan.entity.cms.CmsFeedback"/>
        <mapping class="com.imchuan.entity.cms.CmsFriendLink"/>
        <mapping class="com.imchuan.entity.cms.CmsTags"/>
    </session-factory>
</hibernate-configuration>